---
import BaseHead from '@/components/BaseHead.astro'
import Hero from '@/components/hero.astro'
import MarketingLayout from '@/components/layout/marketing-layout.astro'
import DotPattern from '@/components/magicui/dot-pattern'
import PostHog from '@/components/posthog/PostHog.astro'
import PoweredBy from '@/components/powered-by.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead />
    <PostHog />
  </head>
  <body class=''>
    <DotPattern className='opacity-50'>
      <MarketingLayout>
        <div class='grid gap-8'>
          <Hero />
          <PoweredBy />
        </div>
      </MarketingLayout>
    </DotPattern>
  </body>
</html>
