@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./editor.css";

@layer base {
  body {
    @apply bg-white text-neutral-900 dark:bg-black dark:text-white;
    @apply antialiased;

    font-size: 16px;
  }
}

html,
body {
  @apply bg-white text-neutral-900 dark:bg-black dark:text-white;
}

input::placeholder,
textarea::placeholder {
  @apply text-black/50 dark:text-white/40;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  @apply text-black/50 dark:text-white/40;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  @apply text-black/40 dark:text-white/40;
}

.react-colorful {
  width: 100% !important;
}

[data-reference-hidden] {
  opacity: 0;
  pointer-events: none;
}

::-webkit-scrollbar {
  @apply h-1 w-1 bg-neutral-500/20;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-500/50;
}

input[type="range"] {
  @apply h-2.5 appearance-none rounded border-0 bg-neutral-200 transition-all active:bg-neutral-300;
  @apply dark:bg-neutral-700 dark:active:bg-neutral-600;

  &::-webkit-slider-thumb {
    @apply h-5 w-3 appearance-none rounded-full bg-neutral-800 transition-all active:h-6 active:w-4 active:bg-neutral-900;
    @apply dark:bg-neutral-100 dark:active:bg-white;
  }
}
