---
import { Image } from 'astro:assets'
import builditLogo from 'public/buildit-logo.svg'
---

<div class='flex items-center ml-2'>
  <a href='/' class='flex items-center gap-2 font-cal'>
    <Image src={builditLogo} alt='BuildIt logo' />
    <h1 class='mt-1 text-xl'>BuildIt</h1>
  </a>
</div>
