---
import { cn } from '@/lib/utils'

const { className } = Astro.props
---

<div
  class={cn(
    'w-full rounded-lg border px-3 py-4 backdrop-blur-[2px] md:p-6',
    className,
  )}
>
  <slot />
</div>
