---
import BrandName from '../ui/brand-name.astro'
---

<footer class='w-full mx-auto max-w-4xl border'>
  <div class=''>
    Footer
    <div class=''>
      <BrandName />
    </div>
  </div>
</footer>
