---
import { Image } from 'astro:assets'
---

<section
  class='flex flex-col items-center space-y-4 py-36 md:space-y-6 md:py-40'
>
  <!-- Smaller Screens -->
  <div class='flex items-center space-x-4 md:hidden md:space-x-16'>
    <a href='https://vercel.com' target='_blank'>
      <Image src={'/vercel.svg'} height={70} width={70} alt='vercel' />
    </a>
    <a href='https://nextjs.org/' target='_blank'>
      <Image src={'/next.svg'} height={70} width={70} alt='next' />
    </a>
    <a href='https://turso.tech/' target='_blank'>
      <Image src={'/Turso.svg'} height={70} width={70} alt='turso' />
    </a>
    <a href='https://orm.drizzle.team/' target='_blank'>
      <Image src={'/Drizzle.svg'} height={70} width={70} alt='drizzle' />
    </a>
  </div>
  <!-- Larger Screens -->
  <div class='hidden items-center space-x-4 md:flex md:space-x-16'>
    <a href='https://vercel.com' target='_blank'>
      <Image src={'/vercel.svg'} height={120} width={120} alt='vercel' />
    </a>
    <a href='https://nextjs.org/' target='_blank'>
      <Image src={'/next.svg'} height={120} width={120} alt='next' />
    </a>
    <a href='https://turso.tech/' target='_blank'>
      <Image src={'/Turso.svg'} height={120} width={120} alt='turso' />
    </a>
    <a href='https://orm.drizzle.team/' target='_blank'>
      <Image src={'/Drizzle.svg'} height={120} width={120} alt='drizzle' />
    </a>
  </div>
  <p class='text-soft text-xs'>Powered by</p>
</section>
