---
import { Image } from 'astro:assets'

import Drizzle from '../../public/Drizzle.svg'
import next from '../../public/next.svg'
import Turso from '../../public/Turso.svg'
import vercel from '../../public/vercel.svg'
---

<section class='flex flex-col items-center'>
  <p class='text-sub text-sm font-cal mb-8'>Powered by</p>
  <div class='items-center gap-8 grid grid-cols-2 sm:gap-16 sm:grid-cols-4'>
    <a href='https://vercel.com' target='_blank'>
      <Image src={vercel} height={80} width={80} alt='vercel' />
    </a>
    <a href='https://nextjs.org/' target='_blank'>
      <Image src={next} height={80} width={80} alt='next' />
    </a>
    <a href='https://turso.tech/' target='_blank'>
      <Image src={Turso} height={80} width={80} alt='turso' />
    </a>
    <a href='https://orm.drizzle.team/' target='_blank'>
      <Image src={Drizzle} height={80} width={80} alt='drizzle' />
    </a>
  </div>
</section>
